:root {
  --button-background-color: #ff7a45;
  --font: "Anek Devanagari";
  --font-size: "18px";

  /* colors */
  --grey: #f5f5f5;
  --blue: #0000ff;
  --white: #ffffff;
}

html,
body {
  font-family: var(--font);
}
